@import "./_components/_open-sans.scss";
@import "./_components/_Montserrat.scss";

*  {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  //border: 1px solid red;
}

body {
  font-family: Open Sans, Arial sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #191919;
  position: relative;

  .top-header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0px;

    &__foto {
      width: 300px;
      height: 300px;
      border: 1px solid #fff;
      position: relative;
      perspective: 700px;

      .front-foto, .back-foto {
        position: absolute;
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 4s;
        backface-visibility: hidden;
      }

      .back-foto {
        transform: rotateY(180deg);
      }
    }

    .top-header__foto:hover .front-foto {
      transform: rotateY(180deg);
    }

    .top-header__foto:hover .back-foto {
      transform: rotateY(360deg);
    }

    &__info {
      margin-left: 14%;

      .info-block-profession {
        text-align: center;

        h1{
          margin: 0;
          color: #d2d2d2;
          font-size: 66px;
          font-weight: 400;
        }

        h2 {
          color: #d2d2d2;
          font-size: 22px;
          font-weight: 400;
        }
      }

      .info-block-bio {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #d2d2d2;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.4;

        .bio-block_01 {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          flex-direction: column;
        }

        .bio-block_02 {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          flex-direction: column;
          margin-left: 16px;
        }
      }
    }
  }
}

#social-info {
  width: 100%;
  background-color: #333333;

  .social-links {

    .social-icons {
      width: 100%;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;

      a {
        padding: 16px 0;
        text-align: center;
        width: 100px;
        height: 100%;
        color: #fff;
        font-size: 50px;

        &:hover {
          background-color: #fff;
          color: #333333;
          transition: .2s;
        }
      }
    }
  }
}

.section-ttl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  width: 100%;



  .section-ttl-block {
    width: 100%;

    h2 {
      margin: 0;
      margin-left: 30px;
      margin-bottom: 40px;
      width: 60%;
      font-size: 40px;
      font-weight: 800;
      border-bottom: 2px solid #000;
    }
  }
}

.info-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-left: 30px;
  border-left: 2px solid black;
}

#education {
  padding: 60px 0;
  background-color: #eeefed;

  .info-block {
    padding-left: 30px;
    border-left: 2px solid black;
    flex-direction: column;

    h3 {
      margin: 0;
      font-size: 24px;
    }

    .university {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      margin: 22px 0;

      a {
        font-size: 24px;
        font-weight: 800;
        text-decoration: none;
        color: #000;

        &::after {
            content: '';
            display: block;
            width: 0;
            //margin: 0 auto;
            height: 2px;
            background: #3a3a3a;
            -webkit-transition: width .6s;
            transition: width .6s;
          }

          &:hover {
            color: #3a3a3a;

            &::after {
              width: 100%;
            }
          }
      }
    }

    span {
      margin: 0;
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

#skills {
  padding: 60px 0;
  background-color: #eeefed;

  .info-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 70%;

    .chip {
      border-radius: 2px;
      padding: 12px 12px;
      font-size: 20px;
      font-weight: 600;
      transition: .2s;

      &:hover {
        background-color: #333333;
        color:#fff;
      }
    }
  }
}

#hobbies {
  padding: 60px 0;
  background-color: #eeefed;

  .info-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;


    .hobbies-block {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px 16px;
      border: 2px solid black;
      width: 80px;
      height: 80px;
      border-radius: 50%;

      &:hover {
        transition: all, .4s;
        background-color: #000;
        color: #fff;
      }

      .hobbies-icons {
        font-size: 30px;
      }

      span {
        padding-top: 4px;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}

#portfolio {
  padding: 60px 0;
  background-color: #212121;

  .section-ttl-block {
    h2 {
      color: #fff;
      border-bottom: 2px solid #fff;
    }
  }

  .info-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 2px solid #fff;

    .portfolio-item__inside {
      position: relative;
      margin: 10px 0px;
      width: 210px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
      }

      .portfolio-item__discr {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }
  }
}
